body{
    background-color: darkslategray;
}

header{
    background-color: darkgray;
    text-align: center;
}

.banner{
    width: 100%;
}

.container{
    width: 80%;
    margin: auto;
    background-color: darkgray;
}

footer{
background-color: darkgray;
}

.mapa{
    width: 30%;
    display: block;
    margin: auto;
}

.custo{
    width: 30%;
    display: block;
    margin: auto;    
}

.bandeira{
    width: 30%;
    display: block;
    margin: auto;
}

.destrui{
    width: 30%;
    display: block;
    margin: auto;
}